﻿@page
@model TopsyTurvyCakes.Pages.Account.LoginModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Login";
}

<div class="row">

    <form method="post" class="form-horizontal">

        @if (!ModelState.IsValid)
        {
            <div class="col-md-offset-2 col-md-10">
                <h3 class="text-danger">Validation Errors</h3>
                <div asp-validation-summary="All"></div>
                <hr />
            </div>
        }

        <div class="form-group">
            <label asp-for="EmailAddress" class="col-sm-2 control-label"></label>
            <div class="col-sm-10">
                <input asp-for="EmailAddress" class="form-control" placeholder="Email" />
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Password" class="col-sm-2 control-label"></label>
            <div class="col-sm-10">
                <input asp-for="Password" class="form-control" placeholder="Password" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary">Login</button>
            </div>
        </div>

    </form>

</div>

