﻿@page
@model TopsyTurvyCakes.Pages.Account.ProfileModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Profile</title>
</head>
<body>
</body>
</html>
