﻿@page "{Id?}"

@model AddEditRecipeModel
@{
    ViewData["Title"] = Model.IsNewRecipe ? "New Recipe" : "Edit Recipe";
}

@if (!ModelState.IsValid)
{
    <div class="col-md-offset-2 col-md-10" >
        <h3 class="text-danger">Validation Error</h3>
        <div asp-validation-summary="All"> </div>
        <hr />
    </div>
}
    <form method="post" class="form-horizontal" enctype="multipart/form-data">
        <div class="form-group">
            <label asp-for="Recipe.Name" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Recipe.Name" type="text" class="form-control" />
                <span asp-validation-for="Recipe.Name"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Recipe.Description" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <textarea rows="3" asp-for="Recipe.Description" class="form-control"></textarea>
                <span asp-validation-for="Recipe.Description"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Recipe.Ingredients" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <textarea rows="5" asp-for="Recipe.Ingredients" class="form-control"></textarea>
                <span asp-validation-for="Recipe.Ingredients"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Recipe.Directions" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <textarea rows="5" asp-for="Recipe.Directions" class="form-control"></textarea>
                <span asp-validation-for="Recipe.Directions"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Recipe.Image" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input type="file"  asp-for="Image" class="form-control" />
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn btn btn-primary">Save</button>
                @if (!Model.IsNewRecipe)
                {
                    <button type="submit"
                            onclick="javascript: return confirm('Are you sure you want to delete?');"
                            asp-page-handler="Delete" class="btn btn btn-danger">
                        Delete
                    </button>
                }
            </div>
        </div>


    </form>