﻿@page
@{
    var recipies = await recDAL.GetAllAsync();
}
@section Title
{
    <h2>My Favourite Recipes </h2>
    <a href="/Admin/AddEditRecipe" class="add-recipe btn btn-primary">Add Recipe</a>
}
<div class="row recipes">
    @foreach (var recipe in recipies)
    {
        <div class="recipe col-md-4">
            <img class="img img-thumbnail" src="@recipe.GetInlineImageSrc()" />
            <h3><a href="/Recipe/@recipe.Id">@recipe.Name</a></h3>
            <p>@recipe.Description</p>
        </div>
    }
</div>
