﻿@page "{Id}"
@{
    long Id = long.Parse(RouteData.Values["Id"].ToString());
    var recipie = await recDAL.FindAsync(Id);
    ViewData["Title"] = recipie.Name;
}

<div class="row recipe">
    <div class="col-md-8">
        <div class="col-md-12">
            <span class="description">
                @recipie.Description
            </span>
            <hr />
        </div>
        <div class="ingredients col-md-4">
            <h4>Ingredients</h4>
            <ul>
                @foreach (var ingr in recipie.IngredientsList)
                {<li>@ingr</li> }
            </ul>
        </div>
        <div class="directions col-md-8">
            <h4>Directions</h4>
            <ol>
                @foreach (var step in recipie.DirectionsList)
                { <li>@step</li> }
            </ol>
        </div>
    </div>
    <div class="col-md-4 text-right">
        <img class="img img-thumbnail" src="@recipie.GetInlineImageSrc()" />
    </div>
</div>

